include includes/_head
include includes/_header

mixin allPosts(portrait, h5, p, imgPost, textP)
    div.all-posts.row
        div.col-xl-1.col-lg-1.col-md-2
            img.portait(src="#{portrait}" alt="photo")
        div.post.col-xl-11.col-lg-11.col-md-10
            h5.upper #{h5}
            p.author-post.upper #{p}
            img.img-post( src="#{imgPost}" alt="image")
            p.text-p #{textP}
            include includes/_share-social


doctype html
html
    mixin head('Blog')
    body
        div.header-wrap
            img(src="images/layer-blog.png" class="header-img" alt="img")
            mixin header('blog')

        //Started a part of conten
        div.main-content.container.piramids-right
            h3.upper Blog Page
            p.under-title Our featured Post

            mixin allPosts("images/layer-16.png", "Blog Heading Here", "Posted by: admin,  October- 11- 2015", "images/layer-13.png", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of typeand scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised..")

            mixin allPosts('images/layer-16.png', 'Blog Heading Here', 'Posted by: admin,  October- 12- 2015', 'images/layer-14.png', "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised..")

            mixin allPosts("images/layer-16.png", "Blog Heading Here", 'Posted by: admin,  October- 13- 2015', "images/layer-15.png", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised..")

            div
                 ul.upper.send-to-next
                    li
                        a( href="#") 1
                    li
                        a( href="#") 2
                    li
                        a( href="#") 3

        //Finished a part of content
        include includes/_footer