include includes/_head
include includes/_btn-or-black

mixin liOffers (faClass, h6, p)
    li
        i(class="numb-icon fa #{faClass}" aria-hidden="true")
        div.li-text-offers
            h6.upper #{h6}
            p #{p}

mixin card (Number, h6)
    div.card
        div.card-header( role="tab" id="heading#{Number}")
            h5.mb-0
                a.collapsed.flexes.between-flex(data-toggle="collapse" data-parent="#accordion" href="#collapse#{Number}" aria-expanded="false" aria-controls="collapse#{Number}")
                    h6.upper #{h6}
                    i.fa.fa-arrow-right.i-collapse(aria-hidden="true")
        div.collapse( id="collapse#{Number}" role="tabpanel" aria-labelledby="heading#{Number}")
            div.card-block
                p y richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                    | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                    | bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                    | helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    | excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                    | synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

mixin cardBlockli (h6, p)
    li
        h6.upper.thin #{h6}
        p #{p}

mixin liRequire (pLi)
    li
        span
            i( class="fa fa-check" aria-hidden="true")
        p #{pLi}

doctype html
html
    mixin head('Cereers')
    body
        div.header-wrap
            img(src="images/layer-careers.png" class="header-img" alt="img")
            include includes/_header-without-active-li

        //Started a part of content
        div.main-content.container.piramids-right
            div.row
                div.careers-imgs.col-xl-3.col-lg-4.col-md-5.col-sm-12
                    img.border-img(src="images/layer-bord.png" alt="border image")
                    img.img-abs(src="images/5235.jpg" alt="image")
                div.content-info.col-xl-8.offset-xl-1.col-lg-8.col-md-7.col-sm-12
                    h3.upper Careers
                    p.under-title Our Opaning positions
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        | been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        | type and scrambled it to make a type specimen book. It has survived not only five centuries.
        div.bg-light-blu
            div.container.main-content
                h3.upper Our offers
                p.under-title We offering awesome facts
                div.offers
                    ul.flexes.flex-wrap
                        mixin liOffers ('fa-smile-o', "Fun environment", "Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry")
                        mixin liOffers ("fa-gift", "compensation", "Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry")
                        mixin liOffers ("fa-coffee", "all you need", "Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry")
                        mixin liOffers ('fa-rocket', "pleasure trips", "Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry")
        div.main-content.container.piramids-right
            h3.upper Open positions
            p.under-title Some of our featured vacancy
            div#accordion(role="tablist" aria-multiselectable="true")
                mixin card ('One', "Customer relationship manager")
                div.card
                    div.card-header#headingTwo(role="tab")
                        h5.mb-0
                            a.flexes.between-flex(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                                h6.upper HR manager
                                i.fa.fa-arrow-right.i-collapse(aria-hidden="true")
                    div#collapseTwo.collapse.in(role="tabpanel" aria-labelledby="headingTwo")
                        div.card-block
                            ul.collapse-list.flexes.flex-wrap.just-c-sp-b
                                mixin cardBlockli ("Mission", "Lorem Ipsum is simply dummy text of the printing and typesetting industry.")
                                mixin cardBlockli ("Location", "Washington DC")
                                li
                                    h6.upper.thin Require
                                    ul.careers-list
                                        mixin liRequire ("Lorem ipsum dolor sit amet, consectetur.")
                                        mixin liRequire ("Praesent in urna at neque varius.")
                                        mixin liRequire ("Praesent in urna at neque varius.")
                                        mixin liRequire ("Mauris lobortis orci non viverra semper")
                                        mixin liRequire ("Phasellus tristique sem vitae lorem.")
                                mixin cardBlockli ("Type", "Full-Time Position")
                                mixin cardBlockli ("Other", "Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.")
                            mixin buttonOrBlack ("read more")
                mixin card ('Three', "Customer success manager")
                mixin card ('Four', "Infrastructure developer")

        //Finished a part of content
        include includes/_footer